<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><b>Flight Number</td>
      <td><b>Origin</td>
      <td><b>Destination</td>
      <td><b>Departure</td>
      <td><b>Arrival</td>
      <td><b>Price</td>
    <tr>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.flight_no %></td>
        <td><%= flight.origin %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.departure %></td>
        <td><%= flight.arrival %></td>
        <td><%= format_amount(flight.price) %></td>
        <td><%= link_to 'Select', flight %></td>
      </tr>
    <% end %>
  </tbody>
</table>
