<h1>Book Flight</h1>

<div class="booking">
    <div class="flight-details">
        <%= @flight.flight_no %>
        <%= @flight.departure %>
        <%= @flight.arrival %>
        <%= format_amount(@flight.price) %>
    </div>

    <div class="booking-form">
        <%= form_with(url: "/bookings", method: "post") do %>
            <%= label_tag(:credit_card, "Credit Card:") %>
            <%= text_field_tag(:credit_card) %>

            <%= label_tag(:first_name, "First Name:") %>
            <%= text_field_tag(:first_name) %>

            <%= label_tag(:last_name, "Last Name:") %>
            <%= text_field_tag(:last_name) %>

            <%= label_tag(:expiration_date, "Expiration Date:") %>
            Month: <%= text_field_tag(:expiration_month) %>
            Year: <%= text_field_tag(:expiration_year) %>

            <%= label_tag(:security_code, "Security Code:") %>
            <%= text_field_tag(:security_code) %>

            <%= label_tag(:store, "Save") %>
            <%= check_box_tag(:store) %><br>

            <%= label_tag(:pmd, "Book Through Expedia") %>
            <%= check_box_tag(:pmd) %><br>

            <%= hidden_field_tag(:amount, @flight.price) %>
            <%= hidden_field_tag(:id, @flight.id) %>

            <%= submit_tag("Book Flight") %>
        <% end%>
    </div>
</div>